.note-item {
  flex: 1;
  overflow-y: auto;
  margin-bottom: 15px;
  box-sizing: border-box;
}

.note-time {
  font-size: 12px;
  text-align: right;
}

.note-content {
  background-color: var(--white);
  width: 88vw;
  padding: 30px 6vw;
}

.note-card {
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;

  .note-title {
    font-size: 18px;
    font-weight: bold;
    width: 200px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 12px;
  }

  .note-info {
    display: flex;
    font-size: 12px;
    justify-content: space-between;
  }
}