.note-wrap {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 20px;
}

.note-detail-wrap {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.note-title {
  text-align: center;
}

.note-list {
  overflow-y: scroll;
  flex: 1;
}

.new-note {
  margin-bottom: 15px;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 30px;
  text-align: center;
}

.note-link {
  text-decoration: none;
  display: block;
  position: relative;

  &:hover {
    .note-delete {
      display: block;
    }
  }

  .note-delete {
    position: absolute;
    right: 2px;
    top: 2px;
    display: block;
  }
}